@model Proel4wProject_EasyRent.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingPrice)
        </dd>
        <dt class="col-sm-2">Benefits</dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var benefit in Model.Benefits)
                {
                    <li>@benefit.Description</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VehicleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
